[Unit]
Description=Staging container [1] for TWVault ASP.NET Core Web Server

[Service]
WorkingDirectory=/etc/nginx/autoban
ExecStart=/etc/nginx/autoban/NginxAutoBan
Restart=always
RestartSec=10
SyslogIdentifier=nginx-autoban
User=root

Environment=Serilog__MinimumLevel=Debug
Environment=Serilog__WriteTo__1__Args__pathFormat="../autoban-logs/log-{Date}.log"

Environment=Scanning__ViolationsThreshold=5
Environment=Scanning__IpAddressPatterns__0="^(\\d+\\.\\d+\\.\\d+\\.\\d+)"

Environment=Scanning__Patterns__0="\\.php[^\\s]* HTTP"
Environment=Scanning__Patterns__1="\\/sdk\\/vimService\\s+HTTP"
Environment=Scanning__Patterns__2="GET\\s+\\/webdav\\/?\\s+HTTP"
Environment=Scanning__Patterns__3="\\.cfg\\s+HTTP"
Environment=Scanning__Patterns__4="(GET|POST)\\s+\\/manager.*HTTP"
Environment=Scanning__Patterns__5="(GET|POST)\\s+\\/(?!favicon\\.ico|register|script|api|hitcounter|hc)[^\\/]+\\/? HTTP"
Environment=Scanning__Patterns__6="\\.jsp\\s+HTTP"

Environment=Scanning__WhitelistedIps__0="127\\.0\\.0\\.1"
Environment=Scanning__WhitelistedIps__1="192\\.168\\.1\\..+"
Environment=Scanning__WhitelistedIps__2="142\\.105\\.140\\.164"
Environment=Scanning__WhitelistedIps__3="78\\.67\\.23\\.47"
Environment=Scanning__WhitelistedIps__4="81\\.44\\.90\\.247"
Environment=Scanning__WhitelistedIps__5="92\\.85\\.35\\.87"
Environment=Scanning__WhitelistedIps__6="128\\.184\\.189\\.40"
Environment=Scanning__WhitelistedIps__7="185\\.242\\.24\\.42"
Environment=Scanning__WhitelistedIps__8="2\\.221\\.240\\.241"
Environment=Scanning__WhitelistedIps__9="82\\.137\\.13\\.236"
Environment=Scanning__WhitelistedIps__10="74\\.136\\.10\\.161"
Environment=Scanning__WhitelistedIps__11="76\\.103\\.231\\.251"
Environment=Scanning__WhitelistedIps__12="82\\.0\\.140\\.56"
Environment=Scanning__WhitelistedIps__13="74\\.76\\.207\\.96"
Environment=Scanning__WhitelistedIps__14="47\\.73\\.34\\.182"
Environment=Scanning__WhitelistedIps__15="45\\.45\\.117\\.169"
Environment=Scanning__WhitelistedIps__16="34\\.107\\.91\\.105"



Environment=Nginx__LogFolder=/var/log/nginx
Environment=Nginx__RulesFile=/etc/nginx/autobanips.conf

[Install]
WantedBy=multi-user.target

