[Unit]
Description=TWVault Management App

[Service]
WorkingDirectory=/etc/twvault/webmanage
ExecStart=/etc/twvault/webmanage/start.sh
Restart=always
RestartSec=10
SyslogIdentifier=aspnet-twvault-manage
User=root

### ASP.NET Built-in shit
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

Environment="urls=http://*:5030"

Environment=ConnectionStrings__Vault="Server=localhost; Port=5432; Database=DB_REDACTED; User Id=USER_REDACTED; Password=PASS_REDACTED"

Environment=CaptchaSecretKey="!!!"
Environment=CaptchaSiteKey="!!!"

#Environment=Serilog__MinimumLevel__Override__Microsoft=Information
Environment=Serilog__WriteTo__2__Args__configure__0__Args__pathFormat=../Logs/log-manage-{Date}.log

[Install]
WantedBy=multi-user.target

