
[Unit]
Description=Staging container [1] for TWVault ASP.NET Core Web Server

[Service]
WorkingDirectory=/etc/twvault/app/
ExecStart=/etc/twvault/app/start.sh
Restart=always
RestartSec=10
SyslogIdentifier=aspnet-twvault-c1
User=root

### ASP.NET Built-in shit
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

Environment="urls=http://*:5000"

Environment=ConnectionStrings__Vault="Server=localhost; Port=5432; Database=DB_REDACTED; User Id=USER_REDACTED; Password=PASS_REDACTED"

### Logging
Environment=Serilog__WriteTo__0__Args__configureLogger__WriteTo__2__Args__configure__0__Args__pathFormat="../Logs/log-s1-{Date}.log"
Environment=Serilog__WriteTo__1__Args__configureLogger__WriteTo__0__Args__configure__0__Args__pathFormat="../Logs/log-s1-{Date}-ip.log"
Environment=Serilog__WriteTo__0__Args__configureLogger__MinimumLevel__Default=Information


### Security config
Environment=Security__RestrictAccessWithinTribe=false
# Limit scripts that are publically accessible
Environment=Security__EnableScriptFilter=true
Environment=Security__PublicScripts__0=main.js
Environment=Security__PublicScripts__1=vault.js


### Initialization
# Enable required files check to make sure we remember to generate/update obfuscated version of main.js
Environment=Initialization__EnableRequiredFiles=true
Environment=Initialization__RequiredFiles__0="../obfuscated/main.js"
Environment=Initialization__RequiredFiles__1="../obfuscated/vault.js"
Environment=Initialization__ServerHostname="cicada-tw.xyz"

[Install]
WantedBy=multi-user.target

