[Unit]
Description=TWVault Map Data Updater

[Service]
WorkingDirectory=/etc/twvault/mapupdate
ExecStart=/etc/twvault/mapupdate/start.sh
Restart=always
RestartSec=10
SyslogIdentifier=aspnet-twvault-map-fetch
User=root

### ASP.NET Built-in shit
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

Environment="urls=http://*:5020"

Environment=ConnectionStrings__Vault="Server=localhost; Port=5432; Database=DB_REDACTED; User Id=USER_REDACTED; Password=PASS_REDACTED"

Environment=Serilog__MinimumLevel__Override__Microsoft=Warning
Environment=Serilog__WriteTo__2__Args__configure__0__Args__pathFormat=../Logs/log-mapfetcher-{Date}.log

Environment=CachingFilePath=../map-cache
Environment=DataBatchSize=500
Environment=CheckDelaySeconds=300

[Install]
WantedBy=multi-user.target

